header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title__contain {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    max-width: 340px;
}
